

.filterRadio:checked + .filterButton{
    background-color: hsl(3, 71%, 56%);
    color: var(--color-Neutral900);
}
.filterRadio:checked + .filterButton:hover{
    background-color: hsl(3, 86%, 64%);
}

.ExtentionCard label{
    display: inline-block;
    position: relative;
    width: 30px;
    height: 17px;
    background-color: var(--color-Neutral600);
    border-radius: 50px;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}
.ExtentionCard label:hover{
    background-color: var(--color-Neutral700);

}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked + label{
    background-color: var(--color-Red500);
}
input[type="checkbox"]:checked + label:hover{
    background-color: var(--color-Red700);
}

.ExtentionCard label::before{
    position: absolute;
    left: 1px;
    top: 1px;
    content:"";
    display: inline-block;
    height: 14px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
}

input[type="checkbox"]:checked + label::before{
    transform: translateX(100%);
}